@model MovieUpdateListViewModel

<div class="row">
    <div class="col-4">
        <partial name="_MovieInfoPartial" model="Model" />
    </div>
    <div class="col-md-4">
        <partial name="_ResultPartial" model="Model" />
    </div>
    <div class="col-md-4">
        <partial name="_MovieImagePartial" model="Model" />
    </div>
</div>

