@model MovieUpdateViewModel

<form asp-area="Administration" asp-controller="Movie" asp-action="Update" method="post">
    <div class="form-row">
        <!-- Grid column -->
        <div class="col-4">
            <!-- Material input -->
            <div class="md-form" style="margin-bottom:40px;">
                <label asp-for="OldName" class="control-label">Old Movie Name</label>
                <input asp-for="OldName" class="form-control" />
                <span asp-validation-for="OldName" class="text-danger"></span>
            </div>
            <div class="md-form">
                <label asp-for="Name" class="control-label">New Movie Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        
        <div asp-validation-summary="All" class="text-danger"></div>
    
    </div>
    <!-- Grid row -->
    <button class="btn btn-outline-dark-green waves-effect my-sm-0" type="submit">Update</button>
    <a asp-area="Administration" asp-controller="Database" asp-action="Index" class="btn btn-outline-primary waves-effect">Go Back</a>
</form>
<br />
