@{
    ViewData["Title"] = "Admin Panel";
}

<!-- Card -->
<div class="card">
    <!-- Card image -->
    <div class="view overlay hovereffect" style="height:250px;">
        <img class="card-img-top img-responsive" src="~/images/AdminHome/manage_database_card_photo.jpg" alt="Card image cap">

        <div class="overlay">
            <h2>Manage Database</h2>
        </div>

        <a asp-area="Administration" asp-controller="Database" asp-action="Index">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>

    <!-- Card content -->
    <div class="card-body">

        <!-- Title -->
        <h4 class="card-title text-center">Влез тук, за манупулиране на данните в базата</h4>
        <!-- Button -->
        <div class="d-flex justify-content-center">
            <div class="form-row">
                <a asp-area="Administration" asp-controller="Database" asp-action="Index" class="btn btn-secondary waves-effect">Manage Database</a>
            </div>
        </div>
    </div>
</div>
<!-- Card -->
<br />
<!-- Card -->
<div class="card">
    <!-- Card image -->
    <div class="view overlay hovereffect" style="height:250px;">
        <img class="card-img-top img-responsive" src="~/images/AdminHome/manage_users_card_photo.jpg" alt="Card image cap">

        <div class="overlay">
            <h2>Manage Users</h2>
        </div>

        <a asp-area="Administration" asp-controller="UserManage" asp-action="Index">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>

    <!-- Card content -->
    <div class="card-body">

        <!-- Title -->
        <h4 class="card-title text-center">Влез тук, за преглед на всички потребители</h4>
        <!-- Button -->
        <div class="d-flex justify-content-center">
            <div class="form-row">
                <a asp-area="Administration" asp-controller="UserManage" asp-action="Index" class="btn btn-brown waves-effect">Manage Users</a>
            </div>
        </div>
    </div>
</div>
<!-- Card -->
<br />

