@{
    ViewData["Title"] = "Admin Panel";
}

<div class="container">
    <!-- Grid row -->
    <div class="row">
        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-4">
            <!--Card Primary-->
            <div class="card" style="height:435px; width:350px">
                <div class="view overlay">
                    <img class="card-img-top" src="~/images/BuyTickets.png" alt="Card image" style="height:230px; width:100%">
                    <a asp-area="Administration" asp-controller="Database" asp-action="Index">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Редактирай базата!</h4>
                    <p class="card-text">Тук можеш да манипулираш данните в базата!</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted"><a asp-area="Administration" asp-controller="Database" asp-action="Index" class="btn btn-secondary">Manage Database</a></small>
                </div>
            </div>
            <!--/.Card Primary-->
        </div>
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-4">
            <!--Card Primary-->
            <div class="card" style="height:435px; width:350px">
                <div class="view overlay">
                    <img class="card-img-top" src="~/images/BuyTickets.png" alt="Card image" style="height:230px; width:100%">
                    <a asp-area="Administration" asp-controller="ManageRole" asp-action="Index">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Присвои роля!</h4>
                    <p class="card-text">Тук можеш да присвоиш роля на даден потребител</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted"><a asp-area="Administration" asp-controller="ManageRole" asp-action="Index" class="btn btn-secondary">Change Role</a></small>
                </div>
            </div>
            <!--/.Card Primary-->
        </div>
    </div>
</div>

