.logo {
    font-family: 'Coda', cursive;
    font-size: 1.8em;
    font-weight: bold;
}

    .logo > a {
        color: #ddd;
        text-decoration: none;
        transition-duration: 0.5s;
    }

        .logo > a:hover {
            color: #fff;
            transition: ease;
            text-decoration: none;
            transition-duration: 0.5s;
        }

.page-content {
    padding: 0px;
    margin: 10px auto;
}

.page-heading {
    color: #e9e8e7;
}

.splash {
    background-image: url("/images/catalog.png");
    background-repeat: no-repeat;
    min-height: 200px;
}

.card-icon {
    color: #777;
    font-size: 40px;
    padding: 24px;
    -webkit-border-radius: 1100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
    vertical-align: middle;
    width: 60px;
    height: 60px;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.icon-wrapper {
    display: table-cell;
}

.demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
}

.demo-card-square > .mdl-card__title {
    color: #fff;
}

.homeLabel {
    background-color: rgba(0,0,0,0.3);
    padding: 4px;
}

#catalog {
    background: url('/images/books.jpg') bottom right 15% no-repeat #555;
}

#catalogIndexTable {
    font-size: 1.3em;
}

    #catalogIndexTable td {
        vertical-align: middle;
    }

    #catalogIndexTable tr:hover {
        background-color: #eee;
    }

#patrons {
    background: url('/images/patron.jpg') bottom left 15% no-repeat #555;
}

.branchInfo {
    padding-top: 30px;
}

#branches {
    background: url('/images/bldg.jpg') bottom right 15% no-repeat #555;
}

#assets {
    margin: 0 auto;
}

.customTable td {
    text-align: left;
    font-size: 1.2em;
}

.strongTd {
    font-weight: bold;
}

    .strongTd a {
        color: #337ab7;
    }

.customTable th {
    text-align: left;
    color: black;
    font-size: 1.3em;
}

.imageCell {
    width: 128px;
    padding: 10px;
}

#assetsTable td {
    border-bottom: 1px solid #ddd;
}

.authorLabel {
    font-weight: bold;
    font-size: 1.3em;
}

.titleLabel {
    font-weight: bold;
    font-size: 1.3em;
}

#itemTitle {
    font-size: 2.3em;
}

#itemAuthor {
    font-size: 1.6em;
}

#itemStatus {
    font-weight: bold;
    font-size: 1.3em;
}

#itemType {
    font-size: 1.6em;
    color: #888;
}

.itemLabel {
    font-weight: bold;
}


.itemValue {
    text-align: right;
    font-size: 0.8em;
}

.availability {
    padding-top: 20px;
    font-size: 1.2em;
}

.detailImage {
    width: 200px;
    padding-bottom: 6px;
}

.detailInfo {
    padding: 10px;
    font-size: 1.3em;
    color: #555;
}

.detailHeading {
    padding: 10px;
}

#branchDescription {
    width: 500px;
    padding: 18px 0 12px 4px;
}

.branchContact {
    padding: 12px 0 16px 0;
    font-size: 1.2em;
}

#patronHasFees {
    color: #c62222;
    font-weight: bold;
}

#patronNoFees {
    color: #2f6fc7;
    font-weight: bold;
}

input[type="submit"].makealink {
    background: transparent;
    border: 0px;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
    padding: 12px;
    border-radius: 4px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
}

    #scrollToTopBtn:hover {
        background-color: dodgerblue;
        opacity: 1;
    }


/* The customcheck */
.customcheck {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-style:inherit;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default checkbox */
    .customcheck input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ddd;
    border-radius: 7px;
}

/* On mouse-over, add a grey background color */
.customcheck:hover input ~ .checkmark {
    background-color: #905959;
}

/* When the checkbox is checked, add a blue background */
.customcheck input:checked ~ .checkmark {
    background-color: #02cf32;
    border-radius: 5px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.customcheck input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.customcheck .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.table-wrapper-scroll-y {
    display: block;
    max-height: 600px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}


body {
    background-image: url("/images/background_home_page.jpg");
    background-size: cover;
}

.navbar {
    z-index: 10000;
    top: 5px;
    width: 100%;
    opacity:0.8
}


//=======================================================================

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: white;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {
    background-color: darkgrey
}

.button:active {
    background-color: #f4bbbb;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}