@model AlphaCinemaWeb.Models.CityModels.CityListViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Choose Town</h2>

@foreach (var city in Model.Cities)
{
    <li>
        <a class="dropdown-item" asp-controller="BuyTicket" asp-action="Movie" asp-route-cityId="@city." asp-route-day="@DateTime.Now.DayOfWeek">@city.Name</a>
    </li>
}
