@model AlphaCinemaWeb.Models.ProjectionModels.ProjectionListViewModel
@using System.Globalization;
@using System;
@{
    ViewData["Title"] = "Movie";
}

<div id="projections-table">
    <div clas="row">
        @*This element will be updated with the content returned from the database, thats why the partial view is inside him*@
        <div class="container">
            <h2>Projection Days</h2>
            <div class="btn-group">
                @for (int i = 0; i <= 6; i++)
                {
                    var dayOfWeek = DateTime.Now.AddDays(i).DayOfWeek;
                    <a class="btn btn-primary" asp-controller="BuyTicket" asp-action="UpdateMovie" asp-route-cityId="@Model.CityId" asp-route-day="@dayOfWeek" data-ajax="true" data-ajax-update="#ProjectionList">
                        @CultureInfo.CurrentCulture.DateTimeFormat.GetAbbreviatedDayName(dayOfWeek)
                    </a>
                }
            </div>
            <div id="ProjectionList">
                <partial name="Projections" model="Model" />@*The Main view is calling the partial view Projections*@
            </div>
        </div>
    </div>
</div>