@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="row">
        <div class="col">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)

    <script>
        $(() => {
            const activeLinkSelector = "a[href='" + location.pathname + "']";
            $(activeLinkSelector).parents('li').addClass('active');
        });
    </script>
}

