<div class="btn-group">
    <a asp-area="Administration" asp-controller="Home" asp-action="Index"
       class="btn btn-light my-sm-0" role="button" style="height:38px; padding-top:10px;">Admin Panel</a>

    <button type="button" class="btn btn-light dropdown-toggle px-3" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" style="height:38px; padding-top:10px;">
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
        <a asp-area="Administration" asp-controller="Database" asp-action="Index" class="dropdown-item">Manage Database</a>
        <div class="dropdown-divider"></div>
        <a asp-area="Administration" asp-controller="ManageRole" asp-action="Index" class="dropdown-item">Update User Role</a>
    </div>
</div>

