<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Alpha Cinema</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf">
    <link rel="stylesheet" href="~/lib/mdl/material.min.css">
    <script src="~/lib/mdl/material.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Alpha Cinema</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin Menu
                    </a>
                    @* Тук трябва да има проверка дали User-a има роля - admin *@
                    <div class="dropdown-menu" aria-labelledby="Admin Menu">
                        <a asp-area="" asp-controller="Admin" asp-action="Index" class="dropdown-item">Add Movie</a>
                        <a asp-area="" asp-controller="Admin" asp-action="Index" class="dropdown-item">Update Movie</a>
                        <a asp-area="" asp-controller="Admin" asp-action="Index" class="dropdown-item">Delete Movie</a>
                        <div class="dropdown-divider"></div>
                        <a asp-area="" asp-controller="Admin" asp-action="Index" class="dropdown-item">Add City</a>
                        <a asp-area="" asp-controller="Admin" asp-action="Index" class="dropdown-item">Update City</a>
                        <a asp-area="" asp-controller="Admin" asp-action="Index" class="dropdown-item">Delete City</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 nav-item active">
                <a asp-area="" asp-controller="Account" asp-action="Register" class="nav-link">Register</a>
                <a asp-area="" asp-controller="Account" asp-action="Login" class="nav-link">Login</a>
            </form>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Fake Agents™</p>
        </footer>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
