@{
    ViewData["Title"] = "Database";
}

<!-- Card -->
<div class="card">
    <!-- Card image -->
    <div class="view overlay hovereffect" style="height:250px;">
        <img class="card-img-top img-responsive" src="~/images/AdminHome/movie_cover_photo.png" alt="Card image cap">

        <div class="overlay">
            <h2>MOVIE OPTIONS</h2>
        </div>

        <a href="#!">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>

    

    <!-- Card content -->
    <div class="card-body">

        <!-- Title -->
        <h4 class="card-title text-center">Movie</h4>
        <!-- Button -->
        <div class="d-flex justify-content-center">
            <div class="form-row">
                <a asp-area="Administration" asp-controller="Movie" asp-action="Add" class="btn btn-outline-secondary waves-effect my-sm-0">Add</a>
                <a asp-area="Administration" asp-controller="Movie" asp-action="Update" class="btn btn-outline-secondary waves-effect my-sm-0">Update</a>
                <a asp-area="Administration" asp-controller="Movie" asp-action="Remove" class="btn btn-outline-secondary waves-effect my-sm-0">Remove</a>
            </div>
        </div>
    </div>
</div>
<!-- Card -->
<br />
<!-- Card -->
<div class="card">

    <!-- Card image -->
    <div class="view overlay hovereffect" style="height:250px;">
        <img class="card-img-top" src="~/images/AdminHome/city_cover_photo.jpeg" alt="Card image cap">

        <div class="overlay">
            <h2>CITY OPTIONS</h2>
        </div>

        <a href="#!">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>

    <!-- Card content -->
    <div class="card-body">

        <!-- Title -->
        <h4 class="card-title text-center">City</h4>
        <!-- Button -->
        <div class="d-flex justify-content-center">
            <div class="form-row">
                <a asp-area="Administration" asp-controller="City" asp-action="Add" class="btn btn-outline-secondary waves-effect my-sm-0">Add</a>
                <a asp-area="Administration" asp-controller="City" asp-action="Update" class="btn btn-outline-secondary waves-effect my-sm-0">Update</a>
                <a asp-area="Administration" asp-controller="City" asp-action="Remove" class="btn btn-outline-secondary waves-effect my-sm-0">Remove</a>
            </div>
        </div>
    </div>
</div>
<!-- Card -->
<br />
<!-- Card -->
<div class="card">

    <!-- Card image -->
    <div class="view overlay hovereffect" style="height:250px;">
        <img class="card-img-top" src="~/images/AdminHome/genre_cover_photo.png" alt="Card image cap">

        <div class="overlay">
            <h2>GENRE OPTIONS</h2>
        </div>

        <a href="#!">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>

    <!-- Card content -->
    <div class="card-body">

        <!-- Title -->
        <h4 class="card-title text-center">Genre</h4>
        <!-- Button -->
        <div class="d-flex justify-content-center">
            <div class="form-row">
                <a asp-area="Administration" asp-controller="Genre" asp-action="Add" class="btn btn-outline-secondary waves-effect my-sm-0">Add</a>
                <a asp-area="Administration" asp-controller="Genre" asp-action="Update" class="btn btn-outline-secondary waves-effect my-sm-0">Update</a>
                <a asp-area="Administration" asp-controller="Genre" asp-action="Remove" class="btn btn-outline-secondary waves-effect my-sm-0">Remove</a>
            </div>
        </div>
    </div>
</div>
<!-- Card -->
