@{
    ViewData["Title"] = "About";
}

<h1>За Alpha Cinema България</h1>
<hr />
<p>Alpha Cinema България е част от Fake Agents&trade; - една от водещите кино вериги в Европа. Компанията притежава мултиплекси в 9 страни: България, Обединеното кралство, Израел, Унгария, Чехия, Полша, Румъния, Словакия и Ирландия. Понастоящем дружеството оперира 222 киносалона с 2049 екрана и обслужва над 90 милиона клиенти годишно.</p>

<h1>Къде да ни намерите? <a href="https://trello.com/b/JNsZyAsU/alphacinemaweb" class="btn btn-outline-brown waves-effect" role="button">Trello</a></h1>
<div class="row">
        <div class="col-6">
            <img class="card-img-top img-responsive" src="~/images/Network.jpg" height="400" width="500">
        </div>
</div>

