@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <!-- Grid row -->
    <div class="row">
        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-4">
            <!--Card Primary-->
            <div class="card" style="height:435px; width:350px">
                <div class="view overlay">
                    <img class="card-img-top" src="~/images/BuyTickets.png" alt="Card image" style="height:230px; width:100%">
                    <a asp-controller="BuyTicket" asp-action="Index">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Резервирай сега!</h4>
                    <p class="card-text">Вземи своя билет на момента и се наслади на невероятното изживяване!</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted"><a asp-controller="BuyTicket" asp-action="Index" class="btn btn-outline-deep-orange waves-effect">Book Now</a></small>
                </div>
            </div>
            <!--/.Card Primary-->
        </div>
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-4">
            <!--Card Primary-->
            <div class="card" style="height:435px; width:350px">
                <div class="view overlay">
                    <img class="card-img-top" src="~/images/BuyTickets.png" alt="Card image" style="height:230px; width:100%">
                    <a href="#">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Резервирай сега!</h4>
                    <p class="card-text">Вземи своя билет на момента и се наслади на невероятното изживяване!</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted"><a asp-area="Administration" asp-controller="Home" asp-action="Index" class="btn btn-outline-deep-orange waves-effect">Book Now</a></small>
                </div>
            </div>
            <!--/.Card Primary-->
        </div>
        @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
        {
            <div class="col-lg-4 col-md-6 mb-4">
                <!--Card Primary-->
                <div class="card" style="height:435px; width:350px">
                    <div class="view overlay">
                        <img class="card-img-top" src="~/images/AdminPanel3.png" alt="Card image" style="height:230px; width:100%">
                        <a asp-area="Administration" asp-controller="Home" asp-action="Index">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Админ панел</h4>
                        <p class="card-text">Влез тук, за администраторски права!</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"><a asp-area="Administration" asp-controller="Home" asp-action="Index" class="btn btn-outline-primary waves-effect">Admin Panel</a></small>
                    </div>
                </div>
                <!--/.Card Primary-->
            </div>
        }
        <!-- Grid column -->
    </div>
</div>