@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="margin-top:50px">
    <div class="card-deck">
        <div class="card" style="width:300px">
            <img class="card-img-top" src="~/images/BuyTickets.png"
                 alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Резервирай сега!</h4>
                <p class="card-text">Вземи своя билет на момента и се наслади на невероятното изживяване!</p>
                <a href="#" class="btn btn-dark">Book Now</a>
            </div>
        </div>
        <div class="card" style="width:300px">
            <img class="card-img-top" src="~/images/BuyTickets.png"
                 alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Резервирай сега!</h4>
                <p class="card-text">Вземи своя билет на момента и се наслади на невероятното изживяване!</p>
                <a href="#" class="btn btn-dark">Book Now</a>
            </div>
        </div>
        <div class="card" style="width:300px">
            <img class="card-img-top" src="~/images/BuyTickets.png"
                 alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Резервирай сега!</h4>
                <p class="card-text">Вземи своя билет на момента и се наслади на невероятното изживяване!</p>
                <a href="#" class="btn btn-dark">Book Now</a>
            </div>
        </div>
    </div>
</div>