@{
    ViewData["Title"] = "Home Page";
}

<!-- Card -->
<div class="card">
    <!-- Card image -->
    <div class="view overlay hovereffect" style="height:250px;">
        <img class="card-img-top img-responsive" src="~/images/buy_ticket_photo.png" alt="Card image cap">

        <div class="overlay">
            <h2>Вземи билет сега</h2>
        </div>

        <a asp-area="" asp-controller="BuyTicket" asp-action="Index">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>

    <!-- Card content -->
    <div class="card-body">

        <!-- Title -->
        <h4 class="card-title text-center">Вземи своя билет на момента и се наслади на невероятното изживяване!</h4>
        <!-- Button -->
        <div class="d-flex justify-content-center">
            <div class="form-row">
                <a asp-area="" asp-controller="BuyTicket" asp-action="Index"
                   class="btn btn-orange waves-effect">Book Now</a>
            </div>
        </div>
    </div>
</div>
<!-- Card -->
<br />
@if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
{
    <!-- Card -->
    <div class="card">
        <!-- Card image -->
        <div class="view overlay hovereffect" style="height:250px;">
            <img class="card-img-top img-responsive" src="~/images/AdminPanel.jpg" alt="Card image cap">

            <div class="overlay">
                <h2>Админ Панел</h2>
            </div>

            <a asp-area="Administration" asp-controller="Home" asp-action="Index">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!-- Card content -->
        <div class="card-body">

            <!-- Title -->
            <h4 class="card-title text-center">Влез тук, за администраторски права!</h4>
            <!-- Button -->
            <div class="d-flex justify-content-center">
                <div class="form-row">
                    <a asp-area="Administration" asp-controller="Home" asp-action="Index"
                       class="btn btn-primary waves-effect">Admin Panel</a>
                </div>
            </div>
        </div>
    </div>
}
