@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="card-deck">

        <div class="card" style="width:300px">
            <div class="view overlay">
                <img class="card-img-top" src="~/images/BuyTickets.png" alt="Card image" style="width:100%">
                <a href="/Home/Index">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title">Резервирай сега!</h4>
                <p class="card-text">Вземи своя билет на момента и се наслади на невероятното изживяване!</p>
            </div>
            <div class="card-footer">
                <small class="text-muted"><a href="#" class="btn btn-dark">Book Now</a></small>
            </div>
        </div>

        <div class="card" style="width:300px">
            <div class="view overlay">
                <img class="card-img-top" src="~/images/BuyTickets.png" alt="Card image" style="width:100%">
                <a href="/Home/Index">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title">Резервирай сега!</h4>
                <p class="card-text">Вземи своя билет на момента и се наслади на невероятното изживяване!</p>
            </div>
            <div class="card-footer">
                <small class="text-muted"><a href="#" class="btn btn-dark">Book Now</a></small>
            </div>
        </div>

        <div class="card" style="width:300px">
            <div class="view overlay">
                <img class="card-img-top" src="~/images/BuyTickets.png" alt="Card image" style="width:100%">
                <a href="/Home/Index">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title">Резервирай сега!</h4>
                <p class="card-text">Вземи своя билет на момента и се наслади на невероятното изживяване!</p>
            </div>
            <div class="card-footer">
                <small class="text-muted"><a href="#" class="btn btn-dark">Book Now</a></small>
            </div>
        </div>
    </div>
</div>